/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Dec-2016, 13:29:02
    Author     : Conno
*/

section {
    width: 100%;
    min-height: 700px;
    max-width: 960px;
    min-width: 500px;
    margin: 6% auto;
    width: 60%;
    background-color: #1a1a1a;
    padding: 1%;
    box-shadow:1px 1px 5px rgba(0,0,0,0.7);
}

h1 {
	margin: 1% 0 1% 0;
}

hr {
	border-color: #55AB48;
}

table {
    border: 1px solid #55AB48;
    border-collapse: collapse;
    width: 80%;
    margin: 2.5% auto;
}

tr {
    border-bottom: 1px solid #55AB48;
}

th, td {
    padding: 0.75%;
}

th {
    background-color: #55AB48;
}

td {
    color: white;
}

th:first-child {
    text-align: left;
}

td:not(:first-child) {
    text-align: center;
}

a {
    color: #55AB48;
    text-decoration: none;
}

p {
    color: whitesmoke;
}

form {
    margin: 2.5% 0 0 5%;
    color: #55AB48;
}

input {
    width: 95%;
    font-size: 1.2em;
    padding: 0.5%;
    margin-bottom: 2.5%;
    background-color: #1a1a1a;
    border: none;
    border-bottom: solid #55AB48 1px;
    color: #55AB48;
}

input:focus {
    border-bottom: solid #0A9153 3px;
    outline: none;
}

input:hover {
    border-bottom: solid #0A9153 3px;
}

.button {
    width: 30%;
    margin-left: 11%;
    color: #55AB48;
    border: none;
    border-bottom: solid #55AB48 3px;
    border-radius: inherit;
    padding: 1%;
}

.button:hover {
    color: rgba(0,0,0,0.8);
    background-color: #0A9153;
    border-color: #0A9153;
    font-weight: bold;
}