/* 
    Created on : 21-Nov-2016, 20:06:09
    Author     : Conno
*/

* {
    padding: 0;
    margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #0d0d0d;
	font-size: 16px;
}

h1 {
	color: #55AB48;
	font-size: 2.5em;
}

.error_container {
    border: 1px solid red;
    width: 90%;
    margin: 2% 2.5% 0% 2.5%;
    padding: 2%;
    border-radius: 15px;
    text-align: center;
    background: repeating-linear-gradient(
        45deg,
        #ff3333,
        #ff3333 10px,
        #ff6666 10px,
        #ff6666 20px
      );
}

.notify_container {
    border: 1px solid yellowgreen;
    width: 90%;
    margin: 2% 2.5% 0% 2.5%;
    padding: 2%;
    border-radius: 15px;
    text-align: center;
    background: #1A1A1A;
}

/* nav.css */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #55AB48;
	position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

nav a li  {
    display: block;
    color: #0d0d0d;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

nav a li:hover {
    background-color: #0d0d0d;
	color: #55AB48;
}

.active {
    background-color: #0d0d0d;
	color: #55AB48;
}

.right {
    float: right;
}

.good {
    color: green;
} 

.moderate {
    color: yellow;
}

.late {
    color: red;
}

.check_button {
    border: none;
    background-color: #55AB48;
    color: #1a1a1a;
    padding: 3%;
    font-weight: bold;
    border-radius: 4px;
}

.check_button:hover {
    background-color: #0A9153;
}